html, body {
  -font-family: 'Amatic SC', cursive;
  padding: 0px;
  margin: 0px;
  background-color: #cd4f41;
}

/* LA BARRE DE MENU */

#sign {
  font-family: 'Sacramento', cursive;
  color: yellow;
  font-size: 50px;
  text-align: center;
  padding: 0px 20px;
}

.menu {
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #1E1E20;
  text-align: center;
}

.menu li {
  display: inline-block;
}

.menu li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-radius: 5px;
  text-decoration: none;
}

.menu li a:hover {
  -webkit-transition: 0.4s;
  cursor: pointer;
  background-color: #131314;
}

/*FIN DE LA BARRE DE MENU */

/* PERFORMANCES */

section ul {}
